.animation{
  border: 3px solid coral;
  /* animation 속성을 통해 이름과 시간을 정해준다. */
  animation: animation 3s;
}
/* animation을 사용하기 위한 key frame */
@keyframes animation{
  /* 시작 디자인 */
  from{margin-left: 100%;}
  /* 마지막 디자인 */
  to{margin-left: 0;}
}

.animation-hover{
  border: 3px solid coral;
}

.animation-hover:hover{
  animation: animation-hover 3s;
}
@keyframes animation-hover{
  from{margin-left: 0;}
  to{margin-left: 50%;}
}

.animation-border{
  border: 3px solid red;
  animation: animation-border 3s;
}

@keyframes animation-border{
  0%{border-color: red;}
  30%{border-color: orange;}
  60%{border-color: yellow;}
  90%{border-color: green;}
  100%{border-color: blue;}
}

.a-box{
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: greenyellow;
}

.animation-count{
  animation: rotation 3s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}
@keyframes rotation{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}

.animation-direction:hover{
  animation: animation 3s;
  animation-direction: reverse;
}

.animation-test{
  box-shadow: 0 0 5px black;
  animation: animation-test 3s;
  animation-iteration-count: infinite;
}
@keyframes animation-test{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg); 
    border-top-right-radius: 50%;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  50%{
    transform: rotate(180deg); 
    border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  75%{
    transform: rotate(270deg);
    border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 0;
  }
  100%{
    transform: rotate(360deg);
    border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
  }
}